cluster:
  instances: 1
  storage:
    size: 1Gi
  monitoring:
    enabled: true

  roles:
{{- range $name := keys .Values.env.secrets.postgres.passwords }}
    - name: {{ $name }}
      ensure: present
      login: true
      passwordSecret:
          name: postgres-cluster-{{ $name }}
{{-  end }}




