{{- $provider := default "route53" .Values.env.dns.dnsProvider | lower -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.env.dns.secretName | quote }}
type: Opaque
stringData:
  {{- if eq $provider "route53" }}
  access-key-id: {{ .Values.env.dns.accessKeyID | quote }}
  secret-access-key: {{ .Values.env.secrets.route53.accessKey | quote }}

  {{- else if eq $provider "cloudflare" }}
  api-token: {{ .Values.env.secrets.cloudflare.apiToken | quote }}

  {{- else if  eq $provider "clouddns" }}
  service-account.json: |
    {{ .Values.env.secrets.clouddns.serviceAccountJson | nindent 4 }}

  {{- else if eq $provider "azuredns" }}
  client-secret: {{ .Values.env.secrets.clientSecret | quote }}

  {{- else }}
  {{- fail (printf "Unsupported env.dns.dnsProvider %q" .Values.env.dns.dnsProvider) }}
  {{- end }}