
{{-  range .Values.env.secrets.postgres.databases }}

apiVersion: v1
kind: Secret
type:  kubernetes.io/basic-auth
metadata:
    name: postgres-cluster-{{ .name }}
    namespace:  "database"
    labels:
      cnpg.io/reload: "true"
stringData:
    username: {{ .name | quote }}
    password: {{ .password | quote }}

{{-  end }}
