
{{-  range .Values.env.secrets.postgres.roles }}

apiVersion: v1
kind: Secret
type:  kubernetes.io/basic-auth
metadata:
    name: postgres-cluster-{{ .name }}
    namespace:  "database"
    labels:
      cnpg.io/reload: "true"
stringData:
    username: {{ .name | quote }}
    password: {{ .password | quote }}

---

apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: database-{{ .name }}
  namespace: database
spec:
  name: {{ .name }}
  owner: {{ .name }}
  ensure: present
  cluster:
    name: postgres-cluster

---
{{-  end }}
