{{- if and .Values.proxy .Values.proxy.applications }}
{{- range .Values.proxy.applications }}
{{- if .exposed }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}
  labels:
    app: {{ .name }}
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
---
apiVersion: v1
kind: Endpoints
metadata:
  name: {{ .name }}
subsets:
  - addresses:
      - ip: {{ .hostIP }}
    ports:
      - name: http
        port: {{ .hostPort }}
        protocol: TCP
---
{{- end }}
{{- end }}
{{- end }}