version:
  postgresql: "18"

cluster:
  instances: 1
  storage:
    size: 1Gi
    storageClass: cnpg-hostpath

  managed:
    roles:
    {{-  range .Values.env.secrets.postgres.databases }}
      - name: {{ .name }}
        login: true
        passwordSecret:
          name: postgres-cluster-{{ .name }}
    {{-  end }}